<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>To-Do List</h1>
        <form id="add-task-form" action="/add" method="POST">
            <input type="text" name="task" id="task-input" placeholder="Add a new task" required>
            <button type="submit">Add Task</button>
        </form>
        <ul id="task-list">
            {% for idx, task in enumerate(tasks) %}
                <li data-id="{{ idx }}">
                    <input type="checkbox" class="update-task" {% if task.completed %} checked {% endif %}>
                    <span class="{% if task.completed %}completed{% endif %}">{{ task.task }}</span>
                    <button class="delete-task">Delete</button>
                </li>
            {% endfor %}
        </ul>
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
